---
import AboutAcordeon from "../utils/AboutAccordion.astro";
---

<section class="mb-section">
  <header class="mb-8 grid gap-4 md:grid-cols-2 md:gap-8">
    <h2 class="text-title">AREAS DE EXPERENCIA</h2>
    <p class="text-sm opacity-50 md:text-base">
      DESARROLLAMOS UNA EXPERIENCIA MÁS INMERSIVA PARA TODOS
    </p>
  </header>
  <section class="grid gap-8 md:grid-cols-2">
    <AboutAcordeon open={1} />
    <div class="w-full aspect-square rounded-br-[10rem] overflow-hidden">
      <img
        class="w-full h-full object-cover"
        src="https://arkanaestudio.s3.us-east-2.amazonaws.com/Whats_App_Image_2024_09_03_at_23_01_54_1_77d46085c0.jpeg?updated_at=2024-09-11T17:03:21.104Z"
        alt="some building"
      />
    </div>
  </section>
</section>
