---
import CheapButton from "../utils/CheapButton.astro";
import ContactInput from "../utils/ContactInput.astro";
---

<section class="mb-20">
  <h2 class="text-title mb-8">Mantente en contacto con nosotros</h2>
  <form class="grid gap-4 md:grid-cols-2 md:gap-8">
    <ContactInput id="1" label="Nombre" placeholder="ingresa tu nombre" />
    <ContactInput id="2" label="Compañia" placeholder="ingresa tu compañia" />
    <ContactInput
      id="2"
      type="email"
      label="Correo"
      placeholder="ingresa tu correo"
    />
    <div>
      <span class="block mb-2 opacity-80">servicios</span>
      <div class="flex items-end gap-4 flex-wrap text-sm">
        <CheapButton>arquitectura</CheapButton>
        <CheapButton>interiorismo</CheapButton>
        <CheapButton>muebles</CheapButton>
      </div>
    </div>
  </form>
</section>
