<section class="mb-section">
  <!-- <h1
    class="silver mb-16 text-[4rem] font-extrabold uppercase text-center leading-[4rem] md:text-[8rem] md:leading-[7rem] md:text-start"
  >
    GARLEY <br /> NURI
  </h1> -->

  <img
    class="w-2/3 object-contain rounded-br-[3rem] md:h-[25rem] md:rounded-br-[10rem]"
    src="https://arkanaestudio.s3.us-east-2.amazonaws.com/LOGO_B_bee596eeaf.png?updated_at=2024-09-11T16:24:33.418Z"
  />
  <figure>
    <div class="relative mb-4">
      <img
        class="w-full object-cover rounded-br-[3rem] md:h-[30rem] md:rounded-br-[10rem]"
        src="https://arkanaestudio.s3.us-east-2.amazonaws.com/clouds_2def8f6685.jpg?updated_at=2024-09-11T17:49:42.817Z"
      />
      <img
        class="absolute right-0 bottom-0 z-10 rounded-br-[3rem] md:rounded-br-[10rem]"
        src="https://arkanaestudio.s3.us-east-2.amazonaws.com/building_deeb6bd6fb.webp?updated_at=2024-09-11T17:51:12.579Z"
      />
      <!-- <img
        class="border-zinc-950 absolute w-[5rem] right-[20%] bottom-0 translate-y-1/2 z-20 border-[8px] rounded-full md:w-[8rem]"
        src="/public/images/another/pin.png"
      /> -->
    </div>
    <figcaption class="silver uppercase font-medium text-xs md:text-base">
      © GARLEY NURI 2024
    </figcaption>
  </figure>
</section>
