---
import CheapButton from "../utils/CheapButton.astro";
import PortfolioCard from "../utils/PortfolioCard.astro";
---

<section class="mb-section">
  <h2 class="text-title mb-4">PROYECTO DESTACADO</h2>
  <div class="grid gap-8 mb-8 md:grid-cols-2">
    <p class="text-sm opacity-50">
      NUESTRAS SOLUCIONES INSPIRADORAS AYUDARÁN A DAR FORMA A MÁS PROYECTOS
      ARQUITECTÓNICOS.
    </p>
    <aside class="flex flex-wrap gap-4 text-sm md:justify-items-end">
      <CheapButton> NEGOCIOS </CheapButton>
      <CheapButton> RESIDENCIAL </CheapButton>
      <CheapButton> HOTELERIA </CheapButton>
    </aside>
  </div>
  <div
    class="h-[40rem] grid gap-4 md:h-[30rem] md:grid-cols-2 lg:grid-cols-4 lg:grid-rows-2 [&>*]:overflow-hidden"
  >
    <div class="w-full h-full lg:col-span-2">
      <PortfolioCard
        src="https://arkanaestudio.s3.us-east-2.amazonaws.com/Whats_App_Image_2024_09_03_at_23_01_54_1_77d46085c0.jpeg?updated_at=2024-09-11T17:03:21.104Z"
        alt="some building"
        title="1"
      />
    </div>
    <div class="w-full h-full lg:row-span-2">
      <PortfolioCard
        src="https://arkanaestudio.s3.us-east-2.amazonaws.com/Whats_App_Image_2024_09_03_at_23_01_54_5_c29ca8384a.jpeg?updated_at=2024-09-11T17:03:20.700Z"
        alt="some building"
        title="2"
      />
    </div>
    <div class="w-full h-full lg:row-span-2">
      <PortfolioCard
        src="https://arkanaestudio.s3.us-east-2.amazonaws.com/Whats_App_Image_2024_09_03_at_23_01_54_4e7c6c056f.jpeg?updated_at=2024-09-11T17:03:20.831Z"
        alt="some building"
        title="3"
      />
    </div>
    <div class="w-full h-full lg:col-span-2">
      <PortfolioCard
        src="https://arkanaestudio.s3.us-east-2.amazonaws.com/Whats_App_Image_2024_09_03_at_23_01_54_4_0357a89f35.jpeg?updated_at=2024-09-11T17:03:20.658Z"
        alt="some building"
        title="4"
      />
    </div>
  </div>
</section>
