---
import TeamCard from "../utils/TeamCard.astro";
---

<section class="mb-section">
  <header class="mb-8 grid gap-4 md:grid-cols-2 md:gap-8">
    <h2 class="text-title">Conozca a nuestra gente</h2>
    <p class="text-sm opacity-50 md:text-base">
      CONOZCA A LOS MEJORES TALENTOS EXPERTOS DE NUESTRO EQUIPO QUE ESTÁN LISTOS
      PARA SER SUS SOCIOS
    </p>
  </header>
  <section class="h-[35rem] grid gap-4 md:h-[30rem] grid-cols-2 lg:grid-cols-4">
    <TeamCard
      name="Alfredo Garduño"
      alt="some people"
      src="https://arkanaestudio.s3.us-east-2.amazonaws.com/gn_retrato_6_d619cb5485.jpg?updated_at=2024-09-11T16:03:39.308Z"
    />
    <TeamCard
      name="Ricardo Leyva"
      alt="some people"
      src="https://arkanaestudio.s3.us-east-2.amazonaws.com/gn_retrato_5_2085eb5a34.jpg?updated_at=2024-09-11T16:06:22.726Z"
    />
    <TeamCard
      name="Jonathan Nuñez"
      alt="some people"
      src="https://arkanaestudio.s3.us-east-2.amazonaws.com/gn_retrato_39_25cf1b5f22.jpg?updated_at=2024-09-11T16:06:54.991Z"
    />
    <TeamCard
      name="Pablo Rizo"
      alt="some people"
      src="https://arkanaestudio.s3.us-east-2.amazonaws.com/gn_retrato_20_08a3d8d146.jpg?updated_at=2024-09-11T16:05:11.153Z"
    />
  </section>
</section>
